[Unit]
Description=SRE Telemetry Metrics Daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/portfolio
ExecStart=/usr/bin/python3 metrics_daemon.py
Restart=always

[Install]
WantedBy=multi-user.target
